{% extends 'index.html' %}

{% block title %}TS Master Page{% endblock %}

{% block content %}
<style>
    .userlist {
        margin: auto;
        width: 100%;
        height: 40%;
    }

    .left-box {
        float: left;
        width: 30%;
    }

    .right-box {
        float: right;
        width: 50%;
    }

    .notice-list {
        width: 100%;
        height: 30%;
    }

    .button {
        float: right;
    }
</style>

<body>
    <h1>{{ts_name}} Master({{userid}})</h1>
    <div class="userlist">
        <div class="left-box">
            <table>
                <thead>
                    <th></th>
                    <th scope="col">USER</th>
                    <th scope="col">AUTH</th>
                </thead>
                <tbody>
                    {% if data %}
                    {% for list in data %}
                    <tr>
                        <td><input type="radio" name="users" value="list.userid"></td>
                        <td>{{list.userid}}</td>
                        <td>{{list.auth}}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="right-box">
            <input type="button" value="Invite" onclick="invite_action();"><p/>
            <input type="button" value="Ban"><p/>
            <input type="button" value="Change Auth"><p/>
        </div>
    </div>
    <div class="notice-list">
        <table>
            <thead>
                <th><input type="checkbox" id="check_all"></th>
                <th scope="col">NOTICE</th>
                <th scope="col">DATE</th>
            </thead>
            <tbody>
                {% if notice %}
                {% for list in notice %}
                <tr>
                    <td><input type="checkbox" name="check_notice" value="{{list.title}}"></td>
                    <td><a href="#" onclick="location.href='/master/ts_notice_update?title={{list.title}}';">{{list.title}}</a></td>
                    <td>{{list.input_time|date:"Y-m-d P"}}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="*">공지사항이 없습니다.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="button">
        <input type="button" value="Create Notice" onclick="location.href='/master/ts_notice_upload'">
        <input type="button" value="Delete" onclick="delete_notice();">
    </div>
    <div id="invite_dialog" title="Invite User" style="display: none;">
        <b>초대할 사용자 아이디를 입력하세요.</b>
        <input type="text" id="userid" placeholder="User ID" onchange="find_user();">
    </div>
</body>

<script>
    $('#check_all').click(function(){
        var checkbox = $('input[name=check_notice]');
        if($('#check_all').prop("checked")){
            checkbox.prop("checked", true);
        } else {
            checkbox.prop("checked", false);
        }
    })

    function delete_notice() {
        var notice_array = new Array();

        // check 항목 받아옴
        $("input:checkbox[name=check_notice]:checked").each(function () {
            notice_array.push($(this).val());
        })

        var formData = new FormData();

        var array = JSON.stringify({ 'array': notice_array })

        formData.append('title', array);

        if (confirm("정말 삭제하시겠습니까?")) {
            $.ajax({
                url: "{% url 'noticedelete' %}",
                data: formData,  //위에서 선언한 fromdata
                processData: false,  // 데이터 객체를 문자열로 바꿀지에 대한 값이다. true면 일반문자...
                contentType: false,  // 해당 타입을 true로 하면 일반 text로 구분되어 진다.
                type: 'POST',
                success: function (result) {
                    alert("삭제가 완료되었습니다.");
                    location.reload();
                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });
        }
    }

    function invite_action(){
        $('#invite_dialog').dialog({
            modal : true,
            buttons : {
                "invite" : function(){
                    alert("초대 코드");
                },
                "close" : function(){
                    $(this).dialog('close');
                }
            }
        })
    }
</script>
{% endblock %}