{% extends 'index.html' %}

{% block title %}TS Notice Upload Page{% endblock %}

{% block content %}

<body class="p">
<div class="directory-list">
    <nav>
        <h1 class="na">{{ts_name}} Notice Upload</h1>
    </nav>
    <div id="list"  style="margin-left:350px; margin-right:100px;">
        <form method="POST" action="{% url 'ts_notice_upload' %}" id="notice_form">
            {% csrf_token %}
            <input style="margin-top:30px; margin-bottom:30px;" class="form-control n_title" cols="30" type="text" id="title" name="title" autocomplete="off" placeholder="Title">
            <p />
            <textarea style="height:50%;" class="form-control n_title n_notice" id="value" name="value" placeholder="Notice"></textarea>
            <p />
            <div class="button">
                <input class="notice_btn btn-lg btn-primary btn-block" type="button" value="Create Notice" onclick="create_notice();">
            </div>
        </form>
    </div>
</body>

<script>
    function create_notice(){
        var title = $('#title').val();

        $.ajax({
            url : "{% url 'notice_check' %}",
            type : "GET",
            data : { "title" : title },
            success : function(result){
                if(result == "true"){
                    form = document.getElementById('notice_form');
                    form.submit();
                } else {
                    alert("중복된 게시글이 있습니다.\n제목을 수정해주세요.");
                    $('#title').focus();
                }
            },
            error: function (request, status, error) {
                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        })
    }
</script>
{% endblock %}