{% extends 'index.html' %}

{% block title %}TS Notice Upload Page{% endblock %}

{% block content %}
<style>
    .box{
        width: 70%;
    }

    #title{
        width: 70%;
    }
    
    #value{
        width: 70%;
        height: 50%;
    }

    .button {
        float: right;
    }
</style>
<body>
    <h1>{{ts_name}} Notice Upload</h1>
    <div class="box">
        <b>제 목 : </b>
        <input type="text" id="title" placeholder="제목을 입력하세요."><p/>
        <b>내 용 : </b><br/>
        <textarea id="value" placeholder="내용을 입력하세요."></textarea><p/>
        <div class="button">
            <input type="button" value="Create Notice">
        </div>
    </div>
</body>
{% endblock %}