{% extends 'index.html' %}

{% block title %}Personal Storage Page{% endblock %}

{% block content %}
<style>
    .directory-list {
        margin: auto;
        width: 100%;
        height: 80%;
    }

    .button {
        float: right;
    }
</style>

<body>
    <h1>{{userid}}'s Personal Storage</h1>
    <div id="list" class="directory-list">
        {% if folder != "top" %}
        <input type="button" value="상위 폴더로 이동" onclick="uptofolder();">
        {% endif %}
        <table>
            <thead>
                <th><input type="checkbox" id="check_all"></th>
                <th scope="col">FILES</th>
                <th scope="col">MEMO</th>
            </thead>
            <tbody id="tbody">
                {% if data %}
                {% for list in data %}
                <tr>
                    <td><input type='checkbox' name='check_files' value='{{list.filename}}'></td>
                    <td>{% if "." in list.filename %}
                        {{list.filename}}
                        {% else %}
                        <a href="/personal/psmovefolder?dir={{list.filename}}">{{list.filename}}</a>
                        {% endif %}
                    </td>
                    <td>{{list.descript|default:""}}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="*">저장된 정보가 없습니다.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        <br />
        <input type="button" value="Add Folder" onclick="create_folder();">
    </div>
    <div id="upload" class="button">
        <input type="button" value="Delete" onclick="delete_files();">
        <input type="button" value="Upload" onclick="location.href='/personal/ps_file_upload?url='+location.href;">
        <input type="button" value="Download" onclick="download_files()">
    </div>
    <a id="file_download" href="" download hidden></a>
    <div id="folder_dialog" title="Invite User" style="display: none;">
        <b>폴더 이름을 입력하세요.</b>
        <input type="text" id="folder" placeholder="Folder Name" onkeyup="find_folder();" autocomplete="off">
        <p />
        <b>Descript</b>
        <input type="text" id="descript" placeholder="Descript">
        <table id="folder_list">
        </table>
    </div>
</body>
<script>
    function create_folder() {
        find_folder();
        $('#folder_dialog').dialog({
            modal: true,
            buttons: {
                "Add folder": function () {
                    var folder = $('#folder').val();
                    if (folder != "") {
                        if ($('input[value="' + folder + '"]').length == 0) {
                            var descript = $('#descript').val();
                            var data = { "folder_name": folder, "descript": descript };
                            $.ajax({
                                url: "{% url 'psaddfolder' %}",
                                type: 'GET',
                                data: data,
                                success: function (result) {
                                    alert(result);
                                    location.reload();
                                },
                                error: function (request, status, error) {
                                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                                }
                            });
                        } else {
                            alert("동일한 이름의 폴더가 있습니다.")
                        }
                    } else {
                        alert("폴더명을 적어주세요.");
                    }
                },
                "close": function () {
                    $('#folder').val("");
                    $(this).dialog('close');
                }
            },
            close: function () {
                $('#folder').val("");
            }
        })
    }

    function find_folder() {
        var folder = $('#folder').val();

        $.ajax({
            url: "{% url 'folderlist' %}",
            type: "GET",
            data: { "folder": folder },
            success: function (result) {
                $('#folder_list').empty();

                for (var i in result.folderlist) {
                    var table = document.all["folder_list"].insertRow();
                    var cell = table.insertCell();

                    cell.innerHTML = "<td><span onclick='change_folder(this);' style='cursor:hand'><input type='hidden' value='" + result.folderlist[i] + "'>" + result.folderlist[i] + "</span></td>";
                }
            },
            error: function (request, status, error) {
                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
    }

    function change_folder(folder) {
        $('#folder').val($(folder).text());
        find_folder();
    }

    function uptofolder() {
        $.ajax({
            url: "{% url 'uptofolder' %}",
            type: 'GET',
            success: function (result) {
                if (result == "top") {
                    location.href = "{% url 'personal_storage' %}";
                } else {
                    location.href = "/personal/?dir=" + result;
                }
            },
            error: function (request, status, error) {
                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
    }

    function delete_files() {
        var filename_array = new Array();

        // check 항목 받아옴
        $("input:checkbox[name=check_files]:checked").each(function () {
            filename_array.push($(this).val());
        })

        var formData = new FormData();

        var array = JSON.stringify({ 'array': filename_array })

        formData.append('filename', array);

        if (confirm("정말 삭제하시겠습니까?")) {
            $.ajax({
                url: "{% url 'psdeletefile' %}",
                data: formData,  //위에서 선언한 fromdata
                processData: false,  // 데이터 객체를 문자열로 바꿀지에 대한 값이다. true면 일반문자...
                contentType: false,  // 해당 타입을 true로 하면 일반 text로 구분되어 진다.
                type: 'POST',
                success: function (result) {
                    alert("삭제가 완료되었습니다.");
                    location.reload();
                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });
        }
    }

    function download_files() {
        var check_count = $("input:checkbox[name=check_files]:checked").length;

        if (check_count == 1 && $("input:checkbox[name=check_files]:checked").val().indexOf(".") != -1) {
            var file = $("input:checkbox[name=check_files]:checked").val();

            var a = $("#file_download");

            a.attr("href", "/download?filename=" + file);

            a.get(0).click();

            a.attr("href", "");
        } else {
            var filename_array = new Array();

            // check 항목 받아옴
            $("input:checkbox[name=check_files]:checked").each(function () {
                filename_array.push($(this).val());
            })

            var formData = new FormData();

            var array = JSON.stringify({ 'array': filename_array })

            formData.append('filename', array);

            $.ajax({
                url: "{% url 'zipping' %}",
                data: formData,  //위에서 선언한 fromdata
                processData: false,  // 데이터 객체를 문자열로 바꿀지에 대한 값이다. true면 일반문자...
                contentType: false,  // 해당 타입을 true로 하면 일반 text로 구분되어 진다.
                type: 'POST',
                success: function (result) {
                    var a = $("#file_download");

                    a.attr("href", "/zipdownload?path=" + result);

                    a.get(0).click();

                    a.attr("href", "");
                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });
        }
    }

    $('#check_all').click(function () {
        var checkbox = $('input[name=check_files]');
        if ($('#check_all').prop("checked")) {
            checkbox.prop("checked", true);
        } else {
            checkbox.prop("checked", false);
        }
    })
</script>
{% endblock %}