{% extends 'index.html' %}

{% block title %}PS File Upload Page{% endblock %}

{% block content %}
<h1>File Upload</h1>
<p><input id='file' type='file' onchange="changetable();" multiple></p>
<div>
    <table>
        <thead>
            <th scope="col">NO</th>
            <th scope="col">FILE NAME</th>
            <th scope="col">ADD MEMO</th>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
</div>
<p />
<input type="button" value="Upload Files" onclick="file_upload();">

<script>
    function changetable() {
        $('#tbody').empty();

        var file = $('#file')[0].files;

        for (var i = 0; i < file.length; i++) {
            var tbody = document.all["tbody"].insertRow();
            var cell0 = tbody.insertCell(0);
            var cell1 = tbody.insertCell(1);
            var cell2 = tbody.insertCell(2);

            cell0.innerHTML = "<td></td>";
            cell1.innerHTML = "<td>" + file[i].name + "</td>";
            cell2.innerHTML = "<td><input type='text' id='" + i + "'></td>";
        }
    }

    function file_upload() {
        var file = $('#file')[0].files;

        var files = Array.prototype.slice.call(file);

        var count = 0;

        for (var i in files) {
            var descript = $('#' + i).val();
            var formData = new FormData();
            formData.append("filename", files[i].name)
            formData.append("file", files[i]);
            formData.append("descript", descript)

            $.ajax({
                url: "{% url 'personal_file_upload' %}",
                data: formData,  //위에서 선언한 fromdata
                processData: false,  // 데이터 객체를 문자열로 바꿀지에 대한 값이다. true면 일반문자...
                contentType: false,  // 해당 타입을 true로 하면 일반 text로 구분되어 진다.
                type: 'POST',
                async: false,   // 순차적 진행
                success: function (result) {
                    count++;
                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });

            alert(count + "개의 파일이 업로드 되었습니다.");
            location.href = "{{url}}";
        }




    }
</script>
{% endblock %}