body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #1d1919;
}

.form-login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-login .form-control {
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  background-color: #1d1919;
  border-width: 0 0 2px;
  outline:2px solid #ffc107;

}
.form-login .form-control:focus {
  z-index: 2;
  border-color: #ffc107;
  outline:5px solid #1d1919;
}
.form-login input[type="text"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #ffc107;
  outline:0px;
}

.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #ffc107;
  outline:0px;

}

.form-login input[type="submit"] {
  background-color: #1d1919;
  border:none;
  color:#ffc107;
}

.form-login input[type="submit"]:hover {
  background-color: #ffc107;
  border:none;
  color:#1d1919;
}

h1{
  color:#ffc107;
}

a{
  color:#999;
}

a:hover{
  color:#ffc107;
  text-decoration: none;
}

a.f{
  float:left;
  margin-left:30px;
  margin-bottom:30px;
}

a.s{
  float:right;
  margin-right:30px;
  margin-bottom:30px;
}