body{
    background-color: #1d1919;
}

.directory-list1{
    margin-left:350px;
    margin-right:200px;
    padding-top:50px;
}
.pf_text{
  width:35%;
}
.pf_ch_id{
  color:rgba(255,255,255,0.8);
  display:inline;
  font-size:25px;
  margin-left:-20px;
  margin-right:10px;
}

.pf_ch_phone{
  color:rgba(255,255,255,0.8);
  display:inline;
  font-size:25px;
  margin-left:-20px;
}

.pf_button{

  font-size:20px;
  background-color:#1d1919;
  color:#ffc107;
  border:none;
  margin-top:0px;
  margin-right:15px;
}

.pf_button:hover{
  font-size:20px;
  background-color:#ffc107;
  color:#1d1919;
  border:none;
  border-radius: 5px;
  margin-bottom:5px;
  margin-right:15px;
}

.pf_box{
  margin-left:350px;
  width:750px;
  height:30%;
  border:3px solid #ffc107;
  border-radius:15px;
  margin-top:40px;
}
.pf_po{
  padding-top:30px;
  margin-left:40px;
}
.pf_h4{
  color:rgba(255,255,255,0.8);
  font-weight: bold;
  margin-top:30px;
}

.table{
    color: #999;
}

.logo{
  margin-right:50px;
}

.contentBox {
    display: inline-block;
    width: 200px;
    border: 1px solid 1d1919;
    margin: 20px;
}

.bb{
    margin-bottom:5px;
    border-radius: 5px;
    background-color: #1d1919;
    color:#ffc107;
    border:none;
}

.bb:hover {

    background: #ffc107; 
  
    color: #1d1919;
  
}

.pf_form-login input[type="text"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #ffc107;
    outline:0px;
  }

  .pf_form-login{
    color:(255,255,255,0.8);
    font-size:24px;
    margin-left:-5px;
  }

  .pf_form-login1 {
    box-sizing: border-box;
    height:17%;
    padding: 10px;
    font-size: 25px;
    background-color: #1d1919;
    border-width: 0 0 2px;
    outline:2px solid #ffc107;  
    color:(255,255,255,0.8);
  }

  .pf_form-login1:focus {
    z-index: 2;
    border-color: #ffc107;
    outline:5px solid #1d1919;
  }
  .pf_select{
    margin:20 10%;
    display:inline;
  }
  .m_pf_reset{
    margin-left:280px;
  }

  .p_btns{
    margin-left:500px;
    margin-top:35px;
  }
 
  @media (min-width: 481px){
    .pf_button{
      font-size:20px;
      background-color:#1d1919;
      color:#ffc107;
      border:none;
      margin-top:0px;
      margin-right:0px;
    }
    
    .pf_button:hover{
      font-size:20px;
      background-color:#ffc107;
      color:#1d1919;
      border:none;
      border-radius: 5px;
      margin-bottom:5px;
      margin-right:15px;
    }
    .pf_box{
      margin-left:320px;
      width:685px;
      height:30%;
      border:3px solid #ffc107;
      border-radius:15px;
      margin-top:40px;
    }

    .m_pf_reset{
      margin-left:260px;
    }
    .pf_ok{
      margin-left:-10px;
    }

    .pf_ch_phone{
      color:rgba(255,255,255,0.8);
      display:inline;
      font-size:25px;
      margin-left:0px;
    }
    .pf_select{
      margin:20 10%;
      display:inline;
      margin-left:15px;
    }
  }
  @media (min-width: 320px) and (max-width: 480px) {
    .p_btns{
      margin-left:250px;
      margin-top:50px;
    }
    .pf_ok{
      margin-left:0px;
    }
  .m_na{
    font-size:30px;
  }
  .m_pf_logo{
    width:150px;
    margin-left:-30px;
    margin-right:5px;
    margin-top:-20px;
  }
  .m_pf_h4{
    font-size:13px;
    margin-bottom:-5px;
    margin-left:10px;
  }
  .m_pf_id{
    margin-top:0px;
  }
  .pf_ch_id{
    color:rgba(255,255,255,0.8);
    display:inline;
    margin-top:40px;
  }

  
  .pf_ch_phone{
    color:rgba(255,255,255,0.8);
    display:inline;

  }

  .pf_box{
    margin-left:320px;
    width:370px;
    height:30%;
    border:3px solid #ffc107;
    border-radius:15px;
    margin-bottom:-60px;
  }
  .pf_po{
    padding-top:30px;
    margin-left:40px;
  }
  .pf_button{
    font-size:15px;
    background-color:#1d1919;
    color:#ffc107;
    border:none;
    margin-top:-70px;
    margin-right:0px;
    margin-left:0px;
  }
  .pf_button:hover{
    font-size:15px;
    background-color:#ffc107;
    color:#1d1919;
    border-radius:5px;
    border:none;
    margin-right:0px;
  }
  .m_pf_reset{
    margin-left:-70px;
    margin-top:15px;
  }
  .pf_form-login input[type="text"] {
    margin-bottom: 10px;
    color: #ffc107;
    outline:0px;
    width:25%;
    margin-right:240px;
    
  }
  .pf_form-login{
    color:(255,255,255,0.8);
    font-size:13px;
    margin-left:0px;
    margin-right:-200px;
  }
  .pf_form-login1 {
    height:10%;
    font-size: 12px;
    background-color: #1d1919;
    
  }
  
  .pf_ch_id1{
    margin-bottom:-10px;
  }
  .m_pf_button{
    margin-left:265px;
    margin-top:-100px;
  }
  .m_pf_select{
    margin-left:-20px;
    margin-top:0px;
    margin-bottom:-45px;
  }
  .m_pf_div{
    top:0px;
    left:0px;
    width:100%;
    height:100%;
  }
  .m_pf_phone{
    display: flex;
    height:10%;
    margin-left:220px;
    margin-top:-20px;
    width:35%;
  }
}
