body{
    background-color: #1d1919;
}

.directory-list1{
    margin-left:350px;
    margin-right:200px;
    padding-top:50px;
}

.table{
    color: #999;
}

.contentBox {
    display: inline-block;
    width: 200px;
    border: 1px solid 1d1919;
    margin: 20px;
}

.bb{
    margin-bottom:5px;
    border-radius: 5px;
    background-color: #1d1919;
    color:#ffc107;
    border:none;
}

.bb:hover {

    background: #ffc107; 
  
    color: #1d1919;
  
}

.form-login input[type="text"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #ffc107;
    outline:0px;
  }

  .form-login{
    color:#fff;
    font-size:20px;
  }

  .form-login1 {
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    background-color: #1d1919;
    border-width: 0 0 2px;
    outline:2px solid #ffc107;  
  }

  .form-login1:focus {
    z-index: 2;
    border-color: #ffc107;
    outline:5px solid #1d1919;
  }

