body {
  display: flex;
  background-color: #1d1919;
}

h3{
  color:#ffc107;
}

.form-login {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  margin: auto;
}
.form-login .form-control {
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 15px;
  background-color: #1d1919;
  border-width: 0 0 2px;
  outline:2px solid #ffc107;

}
.form-login .form-control:focus {
  z-index: 2;
  border-color: #ffc107;
  outline:5px solid #1d1919;
}
.form-login input[type="text"] {
  color: #ffc107;
  outline:5px solid #1d1919;
}

.form-login input[type="password"] {
  color: #ffc107;
  outline:5px solid #1d1919;
}

h1{
  color:#ffc107;
  margin-bottom: 20px;
}

input.s{
  background-color: #1d1919;
  border:none;
  color:#ffc107;
}

input.s:hover {
  background-color: #ffc107;
  border:none;
  color:#1d1919;
}

.form-login .c {
  background-color: #1d1919;
  color: #ffc107;
  margin-top:10px;
  outline:5px solid #1d1919;
  border-width: 0 0 2px;
}



