.b3{
    background-color: #1d1919;
    color:#ffc107;
    border:none;
    margin-right:500px;
    float:right;
}

.b3:hover{
    background-color: #ffc107;
    color:#1d1919;
    border-radius: 5px;
    border:none;
}

li.tli{
    color:#999;
}

th.tth{
    color:#fff;
}

a.ta{
    color:#ffc107;
}