.storageAll input[type=checkbox] {
    display: none;
}

.storageAll input[type=checkbox] + label{
    cursor: pointer;
}

.storageAll input[type=checkbox] + label:before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right:10px;
    background-color: #1d1919;
    border:1px solid #ffc107;
    border-radius: 5px;
    display: -ms-flexbox;
    display: inline-flex;
    position:fixed;

}

.storageAll input[type=checkbox]:checked + label:before{
    content: "\2714"; 
    font-size: 12px; 
    font-weight:600; 
    color: #1d1919;  
    background:#ffc107;
    
}