.n_title{
    color:#ffc107;
    background-color: #1d1919;
    border-width: 0 0 2px;
  border-color: #ffc107;
  outline:5px solid #1d1919;
}

.n_title:focus{
    color:#ffc107;
    background-color: #1d1919;
  border-color: #ffc107;
  outline:5px solid #1d1919;
}

.notice_btn{
    width: 80%;
    background-color: #1d1919;
  border:none;
  color:#ffc107;

}

.notice_btn:hover{
    background-color: #ffc107;
  border:none;
  color:#1d1919;
}

.n_notice{
    width:100%;
    height: 100px;
    resize:none;
    border:2px solid #ffc107;
}

.n_update{
    color:#ffc107;
    font-size: 30px;
    
}

.n_update_notice{
    border-width: 0 0 2px;
    border-color: #ffc107;
    outline:5px solid #1d1919;
}