{% extends 'index.html' %}

{% block title %}TS Notice Page{% endblock %}

{% block content %}

<body class="p">
    <div class="directory-list">
        <nav>
            <h1 class="na">{{ts_name}} Notice</h1>
        </nav>
        <input style="display:flex;" class="b1 fl" type="button" value="←" onclick="location.href='{{url}}'">
        <div id="list" style="margin-left:350px; margin-right:100px;">
            <h3>
                <pre
                    style="margin-top:30px; margin-bottom:30px; color:#ffc107; font-size:13px">WRITER : {{data.author}}   DATE : {{data.time}}</pre>
            </h3>
            <p class="form-control n_title">{{data.title}}</p>
            <p class="form-control n_title n_notice">{{data.value}}</p>


        </div>
    </div>
</body>
{% endblock %}