{% extends 'index.html' %}

{% block title %}Team Storage Create Page{% endblock %}

{% block content %}

<body>
    <h1>Team Storage Create Page</h1>
    <div>
        <input type="text" placeholder="Team Storage Name" id="team_storage_name" />
        <input type="button" value="Name Check" id="name_check">
    </div>
    <div>
        <input type="checkbox" id="use_authority" value="Use_Authority"> Use Authority
    </div>
    <div>
        <select disabled name="select_authority_level">
            <option value="">권한선택</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div>
        <input type="checkbox" id="use_notice" value="Use_Notice"> Use Notice
    </div>
    <div>
        <input type="text" placeholder="Description(Optional)" id="description" />
    </div>
    <div>
        <input type="button" value="Create" id="btn_create">
    </div>
</body>

<script>
    $("#use_authority").change(function () {
        if ($("#use_authority").is(":checked")) {
            alert("체크박스 체크했음!");
            $(".box button").attr("disabled", true);
            $("#chk").on('click', function () {
                var chk = $('input:checkbox[id="chk"]').is(":checked");
                if (chk == true) {
                    $(".box button").removeAttr('disabled');
                    $(".box").removeClass("on");
                } else {
                    $(".box button").attr("disabled", true);
                    $(".box").addClass("on");
                }
            });
        } else {
            alert("체크박스 체크 해제!");
        }
    });
</script>
{% endblock %}