{% extends 'index.html' %}

{% block title %}Team Storage Page{% endblock %}

{% block content %}

<body class="p">
<div class="directory-list">
    <nav>
        <h1 class="na">{{name}} Team Storage</h1>
    </nav>
    <div>
        <h4 class="path" id="root" style="color: white;">
            Path :
            {% for i, name in root %}
            {% if i != 0 %}
            >
            {% endif %}
            {% if i != index %}
            <span class="pathC" id="{{i}}" style="cursor: hand;" onclick="moveroot('{{i}}');">{{name}}</span>
            {% else %}
            <span class="pathC" id="{{i}}" style="cursor: hand;" onclick="location.reload();">{{name}}</span>
            {% endif %}
            {% endfor %}
        </h4>
    </div>
    <div id="list"  style="margin-left:350px; margin-right:100px;">

        

    <div id='noticelist'>
        {% if team_descript != "" %}
        <h3>Descript : {{team_descript}}</h3>
        {% endif %}
        <a class="label2" href="#pageNotice" data-toggle="collapse" aria-expanded="false">Notice</a>
        <table class="collapse list-unstyled table" id="pageNotice" style="border:2px solid #ffc107; margin-bottom:200px;" >
            <thead style="position: relative;">
                <th scope="col">NOTICE</th>
                <th scope="col">DATE</th>
            </thead>
            <tbody>
                {% if notice %}
                {% for list in notice %}
                <tr>
                    <td><a href="#"
                            onclick="location.href='/team/team_notice?title={{list.title}}&url='+location.href;">{{list.title}}</a>
                    </td>
                    <td>{{list.input_time|date:"Y-m-d P"}}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td class="text-center" colspan="2">공지사항이 없습니다.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    
    <div id="filelist" class="directory-list">
        {% if folder != "top" %}
            <input class="b2 fl" type="button" value="←" onclick="uptofolder();">
        {% endif %}

        <div id="upload" class="button">
            <input class="b1 fr" type="button" value="Add Folder" onclick="create_folder();">
            {% if user_auth == 0 %}
                <input class="b2 fr" type="button" value="Delete" onclick="delete_files();">
            {% endif %}
            <input class="b2 fr" type="button" value="Upload" onclick="location.href='/team/ts_file_upload?url='+location.href;">
            <input class="b2 fr" type="button" value="Download" onclick="download_files()">
        </div>
        <label class="label1" style="width:110px;">File</label>
        <table style="border:2px solid #ffc107;" class="table">
            <thead style="position: relative;">
                <th><input type="checkbox" id="check_all"></th>
                <th scope="col">FILES</th>
                <th scope="col">MEMO</th>
            </thead>
            <tbody id="tbody">
                {% if data %}
                {% for list in data %}
                <tr>
                    <td><input type='checkbox' name='check_files' value='{{list.filename}}'></td>
                    <td>{% if "." in list.filename %}
                        {{list.filename}}
                        {% else %}
                        <a href="/team/tsmovefolder?dir={{list.filename}}">{{list.filename}}</a>
                        {% endif %}
                    </td>
                    <td>{{list.descript|default:""}}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td class="text-center" colspan="3">저장된 정보가 없습니다.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        <br />
        
    </div>
    </div>
    
    <a id="file_download" href="" download hidden></a>
    <div id="folder_dialog" title="Invite User" style="display: none;">
        <b>폴더 이름을 입력하세요.</b>
        <input type="text" id="folder" placeholder="Folder Name" onkeyup="find_folder();" autocomplete="off">
        <p />
        <b>Descript</b>
        <input type="text" id="descript" placeholder="Descript">
        <p />
        {% if team_auth != 1 %}
        <b>권한을 선택해주세요.</b>
        {% for temp in range %}
        <span><input type="radio" name="select_auth" value="{{temp}}">{{temp}}</span>
        {% endfor %}
        {% endif %}
        <table id="folder_list">
        </table>
    </div>
    </div>
</body>
<script>
    window.onpageshow = function(event){
        if (event.persisted || (window.performance && window.performance.navigation.type == 2)){
            location.href = "{% url 'team_storage' %}";
        }
    }
    function create_folder() {
        find_folder();
        $("input:radio[name ='select_auth']:input[value='{{team_auth}}']").prop("checked", true);
        $('#folder_dialog').dialog({
            modal: true,
            buttons: {
                "Add folder": function () {
                    var folder = $('#folder').val();
                    var auth;
                    if (folder != "") {
                        if ($('input[value="' + folder + '"]').length == 0) {
                            var descript = $('#descript').val();
                            if ($('input[name="select_auth"]:checked').length > 0) {
                                auth = $('input[name="select_auth"]:checked').val();
                            } else {
                                auth = "{{team_auth}}"
                            }
                            var data = { "folder_name": folder, "descript": descript, "auth": auth };
                            $.ajax({
                                url: "{% url 'tsaddfolder' %}",
                                type: 'GET',
                                data: data,
                                success: function (result) {
                                    alert(result);
                                    location.reload();
                                },
                                error: function (request, status, error) {
                                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                                }
                            });
                        } else {
                            alert("동일한 이름의 폴더가 있습니다.")
                        }
                    } else {
                        alert("폴더명을 적어주세요.");
                    }
                },
                "close": function () {
                    $('#folder').val("");
                    $(this).dialog('close');
                }
            },
            close: function () {
                $('#folder').val("");
            }
        })
    }

    function find_folder() {
        var folder = $('#folder').val();

        $.ajax({
            url: "{% url 'folderlist' %}",
            type: "GET",
            data: { "folder": folder },
            success: function (result) {
                $('#folder_list').empty();

                for (var i in result.folderlist) {
                    var table = document.all["folder_list"].insertRow();
                    var cell = table.insertCell();

                    cell.innerHTML = "<td><span onclick='change_folder(this);' style='cursor:hand'><input type='hidden' value='" + result.folderlist[i] + "'>" + result.folderlist[i] + "</span></td>";
                }
            },
            error: function (request, status, error) {
                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
    }

    function change_folder(folder) {
        $('#folder').val($(folder).text());
        find_folder();
    }

    function uptofolder() {
        $.ajax({
            url: "{% url 'uptofolder' %}",
            type: 'GET',
            success: function (result) {
                if (result == "top") {
                    location.href = "{% url 'team_storage' %}";
                } else {
                    location.href = "/team/?dir=" + result;
                }
            },
            error: function (request, status, error) {
                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
    }

    function delete_files() {
        var filename_array = new Array();

        // check 항목 받아옴
        $("input:checkbox[name=check_files]:checked").each(function () {
            filename_array.push($(this).val());
        })

        var formData = new FormData();

        var array = JSON.stringify({ 'array': filename_array })

        formData.append('filename', array);

        if (confirm("정말 삭제하시겠습니까?")) {
            $.ajax({
                url: "{% url 'tsdeletefile' %}",
                data: formData,  //위에서 선언한 fromdata
                processData: false,  // 데이터 객체를 문자열로 바꿀지에 대한 값이다. true면 일반문자...
                contentType: false,  // 해당 타입을 true로 하면 일반 text로 구분되어 진다.
                type: 'POST',
                success: function (result) {
                    alert("삭제가 완료되었습니다.");
                    location.reload();
                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });
        }
    }

    function download_files() {
        var check_count = $("input:checkbox[name=check_files]:checked").length;

        if (check_count == 1 && $("input:checkbox[name=check_files]:checked").val().indexOf(".") != -1) {
            var file = $("input:checkbox[name=check_files]:checked").val();

            var a = $("#file_download");

            a.attr("href", "/download?filename=" + file);

            a.get(0).click();

            a.attr("href", "");
        } else {
            var filename_array = new Array();

            // check 항목 받아옴
            $("input:checkbox[name=check_files]:checked").each(function () {
                filename_array.push($(this).val());
            })

            var formData = new FormData();

            var array = JSON.stringify({ 'array': filename_array })

            formData.append('filename', array);

            $.ajax({
                url: "{% url 'zipping' %}",
                data: formData,  //위에서 선언한 fromdata
                processData: false,  // 데이터 객체를 문자열로 바꿀지에 대한 값이다. true면 일반문자...
                contentType: false,  // 해당 타입을 true로 하면 일반 text로 구분되어 진다.
                type: 'POST',
                success: function (result) {
                    var a = $("#file_download");

                    a.attr("href", "/zipdownload?path=" + result);

                    a.get(0).click();

                    a.attr("href", "");
                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });
        }
    }

    $('#check_all').click(function () {
        var checkbox = $('input[name=check_files]');
        if ($('#check_all').prop("checked")) {
            checkbox.prop("checked", true);
        } else {
            checkbox.prop("checked", false);
        }
    })

    function moveroot(index) {
        if (index == 0) {
            location.href = "{% url 'team_storage' %}";
        } else {
            var root = "team/{{name}}";
            for (var i = 1; i < index; i++) {
                root = root + "/" + $('#' + i).text();
            }
            $.ajax({
                url: "{% url 'setdirpath' %}",
                data: { "root": root },
                type: "GET",
                success: function (result) {
                    if(result == "success"){
                        location.href = "/team/?dir=" + $('#' + index).text();
                    }      
                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        }
    }
</script>
{% endblock %}