{% extends 'index.html' %}

{% block title %}Team Storage List Page{% endblock %}

{% block content %}
<input type="button" id="create_ts" value="Create Team Storage" onclick="location.href='/team/team_storage_create'">
<p/>
<h1>Team Storage List</h1>
{% if data %}
    {% for list in data %}
    {% if list.master %}
    <h3><a href='/movetots?name={{list.storage_name}}'>{{list.storage_name}} [{{list.master}}]</a></h3>
    {% else %}
    <h3><a href='/movetots?name={{list.storage_name}}'>{{list.storage_name}}</a></h3>
    {% endif %}
    {% endfor %}
{% else %}
<h3>참여한 Team Storage가 없습니다</h3>
{% endif %}
{% endblock %}