{% extends 'index.html' %}

{% block title %}Team Storage Create Page{% endblock %}

{% block content %}

<body>
    <h1>Team Storage Create Page</h1>
    <div>
        <input type="text" placeholder="Team Storage Name" id="team_storage_name" />
        <input type="button" value="Name Check" id="name_check">
    </div>
    <div>
        <input type="checkbox" id="use_authority" value="Use_Authority"> Use Authority
    </div>
    <div>
        <select disabled id="select_authority_level">
            <option value="">권한선택</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div>
        <input type="checkbox" id="use_notice" value="Use_Notice"> Use Notice
    </div>
    <div>
        <input type="text" placeholder="Description(Optional)" id="description" disabled/>
    </div>
    <div>
        <input type="button" value="Create" id="btn_create">
    </div>
</body>

<script>

    // Use Authority 체크 시 권한선택 리스트 활성화
    $("#use_authority").change(function () {
        if ($("#use_authority").is(":checked")) {
            $("#select_authority_level").removeAttr('disabled');
        } else {
            $("#select_authority_level").attr("disabled", true);
        }
    });

    $("#use_notice").change(function () {
        if ($("#use_notice").is(":checked")) {
            $("#description").removeAttr('disabled');
        } else {
            $("#description").attr("disabled", true);
        }
    });


</script>
{% endblock %}