{% extends 'index.html' %}

{% block title %}Team Storage Page{% endblock %}

{% block content %}
<style>
    .notice-list {
        width: 100%;
        height: 30%;
    }

    .directory-list {
        width: 100%;
        height: 50%;
    }

    .button {
        float: right;
    }
</style>

<body>
    <h1>{{name}} Team Storage</h1>
    <div id='noticelist' class="notice-list">
        {% if team_descript != "" %}
        <h3>Descript : {{team_descript}}</h3>
        {% endif %}
        <table>
            <thead>
                <th scope="col">NOTICE</th>
                <th scope="col">DATE</th>
            </thead>
            <tbody>
                {% if notice %}
                {% for list in notice %}
                <tr>
                    <td><a href="#" onclick="location.href='/team/team_notice?title={{list.title}}&url='+location.href;" >{{list.title}}</a></td>
                    <td>{{list.input_time|date:"Y-m-d P"}}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="*">공지사항이 없습니다.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div id="filelist" class="directory-list">
        {% if folder != "top" %}
        <input type="button" value="상위 폴더로 이동" onclick="uptofolder();">
        {% endif %}
        <table>
            <thead>
                <th scope="col">FILES</th>
                <th scope="col">MEMO</th>
            </thead>
            <tbody id="tbody">
                {% if data %}
                {% for list in data %}
                <tr>
                    <td>{% if "." in list.filename %}
                        {{list.filename}}
                        {% else %}
                        <a href="/team/tsmovefolder?dir={{list.filename}}">{{list.filename}}</a>
                        {% endif %}
                    </td>
                    <td>{{list.descript|default:""}}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="*">저장된 정보가 없습니다.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        <br />
        <input type="button" value="Add Folder" onclick="create_folder();">
    </div>
    <div id="upload" class="button">
        <input type="button" value="Upload" onclick="location.href='/team/ts_file_upload?url='+location.href;">
        <input type="button" value="Download">
    </div>
</body>
<script>
    function create_folder() {
        var folder_name = prompt("폴더 이름을 입력해주세요.", "폴더 이름");
        if (folder_name != null) {
            var descript = prompt("추가할 메모를 적어주세요.", "");
            if (descript == null) {
                return;
            }
            var auth;
            var user_auth = Number("{{user_auth}}");
            if(user_auth == 0){
                user_auth = 1;
            }
            if(Number("{{team_auth}}") == 1){
                auth = 1;
            } else if(Number("{{team_auth}}") == user_auth){
                auth = Number("{{team_auth}}");
            } else {
                auth = Number("{{team_auth}}");
                auth = prompt("열람가능 권한을 적어주세요", "(" + user_auth + "~{{team_auth}})");
                if(auth == null){
                    return;
                }
                while(Number(auth) > Number("{{team_auth}}") || Number(auth) < user_auth || auth.length != 1){
                    auth = prompt("다시 적어주세요", "(" + user_auth + "~{{team_auth}})");
                    if(auth == null){
                        return;
                    }
                }
            }
            var data = { "folder_name": folder_name, "descript": descript, "auth" : auth };
            $.ajax({
                url: "{% url 'tsaddfolder' %}",
                type: 'GET',
                data: data,
                success: function (result) {
                    alert(result);
                    location.reload();
                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });
        }
    }

    function uptofolder(){
        $.ajax({
            url: "{% url 'uptofolder' %}",
            type: 'GET',
            success: function (result) {
                if(result == "top"){
                    location.href = "{% url 'team_storage' %}";
                } else {
                    location.href = "/team/?dir=" + result;
                }
            },
            error: function (request, status, error) {
                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
    }
</script>
{% endblock %}