{% extends 'index.html' %}

{% block title %}Team Storage List Page{% endblock %}

{% block content %}

<body class="p">
    <div class="directory-list">
        <nav>
            <h1 class="na m_na">
                <button id="sidebarCollapse" class="testtest menu-pushy-button"><img style="width:25px; height:25px;"
                        src="/static/img/iconmonstr-menu-1-240.png"></button>
                <span>Team Storage List<span>
            </h1>
        </nav>

        <div id="list" style="margin-left:320px; margin-right:20px;">
            <div>
                <div class="TS_list_btn" style="margin-top:30px; ">
                    <i style="margin-right:10px;" class="icons fr fa fa-plus-circle fa-2x" type="button" id="create_ts"
                        value="Create Team Storage" onclick="location.href='/team/team_storage_create'"></i>
                </div>
                {% if data %}
                <div style="overflow: auto;">
                    <table class="table TS_list_table">
                        <thead style="position: relative; text-align:left;">
                            <th>master</th>
                            <th>Team Storage Name</th>
                        </thead>
                        <tbody>
                            {% if ms_data %}
                            {% for list in ms_data %}
                            <tr>
                                <td>
                                    <h3 class="m_TS_list_h" style="color:#ffc107;">[{{list.master}}]</h3>
                                </td>
                                <td>
                                    <h3><a class="m_TS_list_h" style=" float:left;"
                                            href='/movetots?name={{list.storage_name}}'>{{list.storage_name}}
                                        </a></h3>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="2"><h4 class="text-center" style="font-size:20px; color:#ffc107;">Master Team Storage가 없습니다.</h4></td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div style="margin-top:100px;">
                <div class="TS_list_btn" style="margin-top:30px; ">
                    {% if ts_data %}
                    <i class="icons fr fa fa-times-circle fa-2x" type="button" value="Exit Team Storage"
                        onclick="exit_ts();"></i>
                    {% endif %}
                </div>
                <div style="overflow: auto;">
                    <table class="table TS_list_table">
                        <thead style="position: relative; text-align:left;">
                            <th><input type="checkbox" id="check_all" onclick="check_all();">
                                Storage</th>
                            <th>Team Storage Name</th>
                        </thead>
                        <tbody>
                            {% if ts_data %}
                            {% for list in ts_data %}
                            <tr>
                                <td><input type='checkbox' name='ts_check' value='{{list.storage_name}}'></td>
                                <td>
                                    <h3><a class="m_TS_list_h"
                                            href='/movetots?name={{list.storage_name}}'>{{list.storage_name}}</a></h3>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="2"><h4 class="text-center" style="font-size:20px; color:#ffc107;">참여한 Team Storage가 없습니다.</h4></td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                    <div>
                        <h4 class="text-center" style="font-size:20px; color:#ffc107;">참여한 Team Storage가 없습니다.</h4>
                    </div>
                {% endif %}
            </div>


        </div>
</body>


<script>
    window.onpageshow = function (event) {
        if (event.persisted || (window.performance && window.performance.navigation.type == 2)) {
            location.href = "{% url 'team_storage' %}";
        }
    }
    function check_all() {
        var checkbox = $('input[name=ts_check]');
        if ($('#check_all').prop("checked")) {
            checkbox.prop("checked", true);
        } else {
            checkbox.prop("checked", false);
        }
    }

    function exit_ts() {
        var ts_array = new Array();
        var check_count = $("input:checkbox[name=ts_check]:checked").length;

        if (check_count == 0) {
            alert("탈퇴할 팀스토리지를 선택해주세요.");
        } else {
            // check 항목 받아옴
            $("input:checkbox[name=ts_check]:checked").each(function () {
                ts_array.push($(this).val());
            })

            var formData = new FormData();

            var array = JSON.stringify({ 'array': ts_array })

            formData.append('tsname', array);

            if (confirm("정말 탈퇴하시겠습니까?")) {
                $.ajax({
                    url: "{% url 'tsexit' %}",
                    data: formData,  //위에서 선언한 fromdata
                    processData: false,  // 데이터 객체를 문자열로 바꿀지에 대한 값이다. true면 일반문자...
                    contentType: false,  // 해당 타입을 true로 하면 일반 text로 구분되어 진다.
                    type: 'POST',
                    success: function (result) {
                        alert("탈퇴가 완료되었습니다.");
                        location.reload();
                    },
                    error: function (request, status, error) {
                        alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                    }
                });
            }
        }
    }
</script>

{% endblock %}