<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<script src="http://code.jquery.com/jquery-latest.js"></script>

<head>
    <title>Make Folder</title>
</head>

<body>
    <h3>폴더 이름을 적으시오.</h3>
    <input type='text' id='folder_name'>
    <input type='button' value='submit' id='submit'>
    <p>
    <input type='button' value='home' id='home'>
</body>

<script>
    $("#folder_name").focus();

    $('#submit').click(function () {
        var name = $('#folder_name').val();
        if (name == "") {
            alert("폴더명을 입력하세요.");
            $("#folder_name").focus();
            return;
        }
        $.ajax({
            url: "/makefolderaction",
            data: { 'name' : name },
            type: "GET",
            success: function (result) {
                if(result == 'error'){
                    alert("해당 디렉토리가 존재합니다.\n다시 입력해주세요.");
                    $("#folder_name").val("");
                    $("#folder_name").focus();
                }
                else{
                    alert(result + "가 생성되었습니다.");
                    location.href = '/listfolder';
                }
            },
            error: function (request, status, error) {
                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        })
    })

    $('#home').click(function(){
        location.href = '/';
    })
</script>