.p{
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
@media (max-width: 991.98px) {
    .p {
      margin-left:-300px; }
   }

.na{
    background: #1d1919;
    color:#ffc107;
    padding-left:350px;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:0.1px solid  rgba(255, 255, 255, 0.1);
}

.path{
    background: #1d1919;
    color:#ffc107;
    padding-left:350px;
    padding-bottom:30px;
}

.directory-list{
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.fr{
    float:right;
}

.fl{
    float:left;
    margin-right:10px;
}

.b1{
    
    margin-bottom:5px;
    border-radius: 5px;
    background-color: #1d1919;
    color:#ffc107;
    border:none;
}

.b2{
    
    margin-bottom:5px;
    margin-right:15px;
    border-radius: 5px;
    background-color: #1d1919;
    color:#ffc107;
    border:none;
}

.b1:hover {

    background: #ffc107; 
  
    color: #1d1919;
  
}

.b2:hover {

    background: #ffc107; 
  
    color: #1d1919;
  
}

.table{
    color: #999;
}

.pathC{
    background: #1d1919;
    border:none;
    padding-right:5px;
    padding-left:5px;
    border-radius: 5px;
    color: #ffc107;
}

.pathC:hover{
    background: #ffc107; 
    color: #1d1919;
    padding-right:5px;
    padding-left:5px;
    border:none;
    border-radius: 5px;
}

.form-login {
    width: 100%;
    max-width: 530px;
    padding: 15px;
    margin: auto;
  }

  .form-login .form-control {
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    background-color: #1d1919;
    border-width: 0 0 2px;
    outline:2px solid #ffc107;
  
  }

  .form-login .form-control:focus {
    z-index: 2;
    border-color: #ffc107;
    outline:5px solid #1d1919;
  }

  .form-login input[type="text"] {
    color: #ffc107;
    outline:5px solid #1d1919;
  }

.form-login .c {
    background-color: #1d1919;
    color: #ffc107;
    margin-top:10px;
    outline:5px solid #1d1919;
    border-width: 0 0 2px;
  }

 .s{
    background-color: #1d1919;
    border:none;
    color:#ffc107;
  }
  
  .s:hover {
    background-color: #ffc107;
    border:none;
    color:#1d1919;
  }

  .testtest{
    vertical-align: middle;
    margin-left:-50px; 
    margin-right:15px;
    margin-top:-2px;
    background-color:inherit;
    border:none;
    width:25px;
    height:25px;
    display:none;
  }
  
  #root{
    color: #999; }
    #root:active {
      color: #ffc107; }
  @media (max-width: 991.98px) {
        #root{
          color: #999; }
          #root:active {
            color: #ffc107; } 

    .testtest{
        display:initial;
    }
   }

   .pushy-left{
    left:200px;
    -webkit-transform: translate3d(-200px,0,0);
    -moz-transform: translate3d(-200px,0,0);
    -ms-transform: translate3d(-200px,0,0);
    -o-transform: translate3d(-200px,0,0);
    transform: translate3d(-200px,0,0);
}

.pushy{
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #333332;
  font-size: 0.9em;
  font-weight: bold;
  -webkit-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
  -moz-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
  box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
  overflow: auto;
  -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
}