{% load static %}
<script src="{% static 'js/main/jquery.min.js' %}"></script>
<script src="/static/js/main/popper.js"></script>
<script src="{% static 'js/main/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main/main.js' %}"></script>

<head>
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Find ID Reset PW Page</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel=stylesheet href=//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/Find_Modal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/Find_ID_Reset_PW.css' %}" />
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body class="text-center">
    <form class="form">
        {% if check != "know" %}
        <input class="btn btn_id_active" type="button" value="Find ID" id="findid">
        <input class="btn btn_pw" type="button" value="Reset PW" id="resetpw">
        {% else %}
        <h1 style="color:#ffc107;">Reset PW</h1>
        {% endif %}
        <br>
        <div id="find_id">
            <input class="form-control" type="text" id="f_name" placeholder="Name">
            <br>
            <input class="form-control" type="text" id="f_phone" placeholder="Phone" maxlength="13">
            <br>
            <div style="float:right;">
                <input class="btn" type="button" id="f_submint" value="submit" onclick="find_id();">
                <input class="btn" type="button" value="Go to Login" onclick="location.href = '/'">
            </div>
        </div>
        <div id="reset_pw">
            <input class="form-control" type="text" id="r_id" placeholder="ID" autocomplete="off">
            <br>
            <input class="form-control" type="text" id="r_phone" placeholder="Phone" maxlength="13" autocomplete="off">
            <br>
            <div style="float:right;">
                <input class="btn" type="button" id="r_submint" value="submit" onclick="checkuser();">
                <input class="btn" type="button" value="Go to Login" onclick="location.href = '/'">
            </div>
        </div>
        <div id="findid_dialog" title="Your ID" style="display: none;">
            <h3 id="id_result"></h3>
        </div>
        <div id="resetpw_dialog" title="Reset Password" style="display: none;">
            <input class="pw_reset" style=" margin-top:20px;" type="password" id="pw" placeholder="Password">
            <p />
            <input class="pw_reset" style="margin-top:20px;" type="password" id="pw_again" placeholder="Password Again">
        </div>
    </form>
</body>

<script>
    if ("{{check}}" == "know") {
        $('#find_id').hide();
    } else {
        $('#reset_pw').hide();
    }

    $('#findid').click(function () {
        $('#reset_pw').hide();
        $('#find_id').show();
        $('#r_id').val("");
        $('#r_phone').val("");
        $('#findid').attr('class', 'btn btn_id_active');
        $('#resetpw').attr('class', 'btn btn_pw');

    })

    $('#resetpw').click(function () {
        $('#find_id').hide();
        $('#reset_pw').show();
        $('#f_name').val("");
        $('#f_phone').val("");
        $('#resetpw').attr('class', 'btn btn_pw_active');
        $('#findid').attr('class', 'btn btn_id');
    })

    function find_id() {
        var name = $('#f_name').val();
        var phone = $('#f_phone').val();
        if (name == "") {
            alert("이름을 입력해주세요.");
            $('#f_name').focus();
        } else if (phone == "") {
            alert("전화번호를 입력해주세요.");
            $('#f_phone').focus();
        } else {
            $.ajax({
                url: "{% url 'findid' %}",
                type: "GET",
                data: { "name": name, "phone": phone },
                success: function (result) {
                    if (result == "fail") {
                        alert("해당 사용자가 존재하지 않습니다.");
                    } else {
                        $('#id_result').text(result);
                        findid_action();
                    }
                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        }
    }

    function findid_action() {
        $('#findid_dialog').dialog({
            classes: {
                "ui-dialog": "modal-content",
                "ui-dialog-titlebar": "modal-header",
                "ui-dialog-title": "modal-title",
                "ui-dialog-titlebar-close": "close",
                "ui-dialog-content": "modal-body",
                "ui-dialog-buttonpane": "modal-footer"
            },
            modal: true,
            close: function () {
                $('#id_result').text("");
                $('#find_id').hide();
                $('#reset_pw').show();
                $('#f_name').val("");
                $('#f_phone').val("");
                $('#findid').attr('class', 'btn btn_id ');
                $('#resetpw').attr('class', 'btn btn_pw_active');
            }
        })
    }

    function checkuser() {
        var id = $('#r_id').val();
        var phone = $('#r_phone').val();
        if (id == "") {
            alert("아이디를 입력해주세요.");
            $('#r_id').focus();
        } else if (phone == "") {
            alert("전화번호를 입력해주세요.");
            $('#r_phone').focus();
        } else {
            $.ajax({
                url: "{% url 'checkuser' %}",
                type: "GET",
                data: { "id": id, "phone": phone },
                success: function (result) {
                    if (result == "exist") {
                        reset_pw(id);
                    } else {
                        alert("해당 사용자가 존재하지 않습니다.")
                    }
                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        }
    }

    function reset_pw(id) {
        $('#resetpw_dialog').dialog({
            classes: {
                "ui-dialog": "modal-content",
                "ui-dialog-titlebar": "modal-header",
                "ui-dialog-title": "modal-title",
                "ui-dialog-titlebar-close": "close",
                "ui-dialog-content": "modal-body",
                "ui-dialog-buttonpane": "modal-footer"
            },
            modal: true,
            buttons: {
                ResetPW: {
                    class:"buttons",
                    text:"Reset PW",
                    click: function () {
                        var pw = $('#pw').val();
                        var pw_again = $('#pw_again').val();

                        if (pw == "") {
                            alert("비밀번호를 입력해주세요.");
                            $('#pw').focus();
                        } else if (pw_again == "") {
                            alert("비밀번호를 한번 더 입력해주세요.");
                            $('#pw_again').focus();
                        } else if (pw != pw_again) {
                            alert("비밀번호 입력이 동일하지 않습니다.\n다시 입력해주세요.");
                            $('#pw_again').focus();
                        } else {
                            $.ajax({
                                url: "{% url 'resetpw' %}",
                                type: "GET",
                                data: { "id": id, "pw": pw },
                                success: function () {
                                    alert("비밀번호가 재설정 되었습니다.");
                                    location.href = "{% url 'login' %}"
                                },
                                error: function (request, status, error) {
                                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                                }
                            })
                        }
                    }
                },
                Close: {
                    class: "buttons",
                    text: "close",
                    click: function () {
                        $('#user').val("");
                        $(this).dialog('close');
                    }
                }
            },
            close: function () {
                $('#user').val("");
            }
        })
    }

    var autoHypenPhone = function (str) {
        str = str.replace(/[^0-9]/g, '');
        var tmp = '';
        if (str.length < 4) {
            return str;
        } else if (str.length < 7) {
            tmp += str.substr(0, 3);
            tmp += '-';
            tmp += str.substr(3);
            return tmp;
        } else if (str.length < 11) {
            tmp += str.substr(0, 3);
            tmp += '-';
            tmp += str.substr(3, 3);
            tmp += '-';
            tmp += str.substr(6);
            return tmp;
        } else {
            tmp += str.substr(0, 3);
            tmp += '-';
            tmp += str.substr(3, 4);
            tmp += '-';
            tmp += str.substr(7);
            return tmp;
        }

        return str;
    }


    var f_phone = document.getElementById('f_phone');
    var r_phone = document.getElementById('r_phone');

    f_phone.onkeyup = function () {
        this.value = autoHypenPhone(this.value);
    }

    r_phone.onkeyup = function () {
        this.value = autoHypenPhone(this.value);
    }
</script>