<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Find ID Reset PW Page</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
    <div>
        <input type="button" value="Find ID" id="findid">
        <input type="button" value="Reset PW" id="resetpw">
        <br>
        <div id="find_id">
            <h3>Find ID</h3>
            Name :
            <input type="text" id="f_name" placeholder="Name">
            <br>
            Phone :
            <input type="text" id="f_phone" placeholder="Phone">
            <br>
            <input type="button" id="f_submint" value="submit">
        </div>
        <div id="reset_pw">
            <h3>Reset PW</h3>
            ID :
            <input type="text" id="r_id" placeholder="ID">
            <br>
            Phone :
            <input type="text" id="r_phone" placeholder="Phone">
            <br>
            <input type="button" id="r_submint" value="submit">
        </div>
    </div>
</body>

<script>
    $('#reset_pw').hide();

    $('#findid').click(function(){
        $('#reset_pw').hide();
        $('#find_id').show();
    })

    $('#resetpw').click(function(){
        $('#find_id').hide();
        $('#reset_pw').show();
    })
</script>