{% load static %}
<script src="{% static 'js/main/jquery.min.js' %}"></script>
<script src="/static/js/main/popper.js"></script>
<script src="{% static 'js/main/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main/main.js' %}"></script>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>{% block title %}{% endblock %}</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/personal/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/team/style.css' %}">
</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <div>
                    <img class="img logo rounded-circle mb-3" id = "emo" src=""></img>
                    <span class="name" id="userid"></div></span>
                        
                    <h3  class="aa"><span onclick="location.href='/profile';">Mypage</span</h3>　|　
                    <h3  class="aa1"><a style = "color: gray;" href="{% url 'logout' %}">Logout</a></h3>
                </div>

                <ul class="p-4 pt-5 list-unstyled components mb-5">
                    <li>
                        <a id = "ps_name" href="{% url 'personal_storage' %}"></a>	          
                    </li>
                    <li>
                        <a style="display:inline-block; width:91%;" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Team Storage  </a>
                        <a class="plus" style="display:inline;  cursor:hand; margin-top:20px;" id="ts_list">
                            <svg style="margin-left:0px; "width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                            </svg>
                        </a>
                        {% comment %} <span id="ts_list" style="cursor:hand;">Team Storage</span> {% endcomment %}

                        <ul class="collapse list-unstyled " id="pageSubmenu"></ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    <div>
    
</body>


<script>
    // 초기 사용자 id 및 이름 가져오기
    $.ajax({
        url: "{% url 'index' %}",
        type: 'GET',
        success: function (result) {
            $('#emo').attr("src", "/static/img/" + result.user.useremo + ".jpg");
            $('#userid').text(result.user.userid + "  (" + result.user.username +")");
            $('#username').text(result.user.username);
            $('#ps_name').text(result.user.userid + "'s Storage");

            for (var i in result.storage) {
                if (result.storage[i].master) {
                    var temp = "<li><a href='/movetots?name=" + result.storage[i].storage_name + "'>" + result.storage[i].storage_name + " [" + result.storage[i].master + "]</a></li>";
                } else {
                    var temp = "<li><a href='/movetots?name=" + result.storage[i].storage_name + "'>" + result.storage[i].storage_name + "</a></li>";
                }
                $('#pageSubmenu').append(temp);
            }
        },
        error: function (request, status, error) {
            alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
        }
    });

    // personal storage 문구 클릭 액션
    $('#ps').click(function () {
        location.href = "{% url 'personal_storage' %}";
    });

    // team storage list 문구 클릭 액션
    $('#ts_list').click(function () {
        location.href = "{% url 'team_storage_create' %}";
    });
</script>