{% load static %}

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>{% block title %}{% endblock %}</title>
</head>

<style>
    #side_bar{
        float: left;
        background-color: aquamarine;
        width: 15%;
        height: 100%;
    }
</style>

<body>
    <div id = "side_bar">
        <h1>Index Bar</h1>
    </div>
    <div id = "contents">
        {% block content %}
        {% endblock %}
    </div>
</body>
