<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Login Page</title>
</head>

<body>
    <div>
        <h1>Login</h1>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            ID :
            <input name="userid" type="text">
            <br>
            PW : 
            <input name="userpw" type="password">
            <br>
            <a href="{% url 'find_id_reset_pw' %}">Find ID / Reset PW</a>
            <br>
            <input type="button" value="Sign in" onclick='location.href = "/sign_in"'>
            <input type="submit" value="Login">
        </form>
    </div>
</body>