{% load static %}
<script src="{% static 'js/main/jquery.min.js' %}"></script>
<script src="/static/js/main/popper.js"></script>
<script src="{% static 'js/main/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main/main.js' %}"></script>

<head>
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/Login.css' %}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body class="text-center">
    <form class="form-login" method="POST" action="{% url 'login' %}">
        <h1 class="h3 mb-3 font-weight-normal">Cloud For Everyone</h1>
        {% csrf_token %}
        <div>
            <input type="text" name="userid" class="form-control" autocomplete="off" placeholder="ID" required="required"
                autofocus="autofocus">
        </div>
        <input type="password" name="userpw" class="form-control" placeholder="PW" required="required">
        <div>
            <a class="f" href="{% url 'find_id_reset_pw' %}">Find ID / Reset PW</a>
            <a class="s" href="{% url 'sign_in' %}">Sign in</a>
        </div>
        <div>
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Login">
        </div>

    </form>
</body>
<script>
    if ("{{result}}" == "fail") {
        alert("Login Fail");
    }
</script>