{% extends 'index.html' %}

{% block title %}Profile Page{% endblock %}



{% block content %}
<h1>Profile Page</h1>
<body>
    <style>
        .left-box {
          background: rgb(206, 199, 199);
          float: left;
          width: 30%;
        }
        .right-box {
          background: rgb(206, 199, 199);
          float: right;
          width: 50%;
        }
        </style>
    <div id="emoticon" class='left-box'style="border:2px solid black;">
        emoticon
    </div>
    <div id="changevalue" class='right-box'>
        <input type="text" placeholder="ID" value="" id="_id"><p>
        <input type="text" placeholder="Name" value="" id="_name"><p>
        <input type="text" placeholder="Phone" value="" id="_phone"><p>
        <input type="text" placeholder="Reset PW" value="" id="_ResetPW"><p>
        <input type="button"value="Change" id="_change">
    </div>
</body>
{% endblock %}
