{% extends 'index.html' %}

{% block title %}Profile Page{% endblock %}
{% block content %}

<body class="p">
    <div class="directory-list">
        <h1 class="na">{{userid}}'s Profile</h1>
        <div style="height:40%;">
            <div class='directory-list1' style="padding-top:30px;">
                <div style="float:left;">
                    <div>
                        <img class="img logo rounded-circle mb-3" style="margin-right:50px;"
                            src="/static/img/{{useremo}}.jpg">
                        <input style="margin:0 16%; display:block;" class="bb" type="button" value="Select Emoticon"
                            id="selectemo" onclick="select_emoticon();">
                    </div>
                    <p></p>

                </div>
            </div>
            <div id="value">
                <p>
                <h4 style="color:#fff;">아이디 : {{userid}}</h4>
                </p>
                <p>
                <h4 style="color:#fff;">이름 : {{username}}</h4>
                </p>
                <p>
                <h4 style="color:#fff; margin-bottom:65px;">전화번호 : {{userphone}}</h4>
                </p>
                <input class="b2" type="button" value="Reset PW" onclick="location.href='/movetoresetpw'">
                <input class="b2" type="button" value="Change" id="change">
                <input class="b2" type="button" value="Delete User" onclick="delete_user();">
            </div>
            <div id="changevalue">
                <p>
                <h4 style="color:#fff;">아이디 : {{userid}}</h4>
                </p>
                <p class="form-login">　　이름 : <input class="form-login1" type="text" value="{{username}}" id="name"></p>
                <p class="form-login"> 전화번호 : <input class="form-login1" type="text" value="{{userphone}}" id="phone">
                </p>
                <input style="margin-left:222px;" class="b2" type="button" value="확인" id="accept"
                    onclick="change_profile();">
                <input class="b2" type="button" value="취소" id="cancel">
            </div>
        </div>

        <div style="margin-top:100px; margin-left:350; ">
            <h1 style="color:#ffc107; margin-bottom:50px;">My Team Storage List</h1>
            <table>
                <tbody>
                    {% if data %}
                    {% for list in data %}
                    <tr>
                        <td>
                            <h3><a href="/movetotsmaster?ts_name={{list}}">{{list}}</a></h3>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td>{{userid}}님이 만든 Team Storage가 없습니다.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div id="emo_dialog" title="Change Emoticon" style="display: none;">
            <h4>Select Emoticon</h4>
            <span><input type="radio" name="choose_emo" value="dog"><img src="/static/img/dog.jpg"></span>
            <span><input type="radio" name="choose_emo" value="cat"><img src="/static/img/cat.jpg"></span>
            <span><input type="radio" name="choose_emo" value="bear"><img src="/static/img/bear.jpg"></span>
            <span><input type="radio" name="choose_emo" value="peach"><img src="/static/img/peach.jpg"></span>
            <span><input type="radio" name="choose_emo" value="rabbit"><img src="/static/img/rabbit.jpg"></span>
        </div>
    </div>
</body>

<script>
    window.onpageshow = function (event) {
        if (event.persisted || (window.performance && window.performance.navigation.type == 2)) {
            location.href = "{% url 'profile' %}";
        }
    }
    $('#changevalue').hide();
    $('#selectemo').hide();

    $('#change').click(function () {
        $('#value').hide();

        $('#changevalue').show();
        $('#selectemo').show();
    });

    $('#cancel').click(function () {
        $('#changevalue').hide();
        $('#selectemo').hide();

        $('#value').show();
    });

    function change_profile() {
        var username = $('#name').val();
        var userphone = $('#phone').val();

        if (confirm("정말 수정하시겠습니까?")) {
            $.ajax({
                url: "{% url 'changeprofile' %}",
                type: "GET",
                data: { 'username': username, 'userphone': userphone },
                success: function (result) {
                    if (result == 'success') {
                        alert("수정 완료 되었습니다.");
                        location.reload();
                    }
                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        }
    }

    function delete_user() {
        if (confirm("정말 탈퇴하시겠습니까?")) {
            var quest = prompt("Delete를 입력해주세요.")
            if (quest == "Delete") {
                $.ajax({
                    url: "{% url 'deleteuser' %}",
                    type: "GET",
                    success: function (result) {
                        if (result == "success") {
                            alert("탈퇴가 완료되었습니다.");
                            location.href = "{% url 'logout' %}";
                        } else {
                            alert("마스터로 존재하는 팀스토리지가 있습니다.\n마스터를 넘겨주세요.");
                        }
                    },
                    error: function (request, status, error) {
                        alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                    }
                })
            } else {
                alert("올바르게 입력해주세요.");
            }
        }
    }

    function select_emoticon() {
        $("input:radio[name ='choose_emo']:input[value='{{useremo}}']").prop("checked", true);
        $('#emo_dialog').dialog({
            width: 'auto',
            modal: true,
            buttons: {
                "Change": function () {
                    var emo = $('input[name="choose_emo"]:checked').val();

                    if (emo == "{{useremo}}") {
                        alert("현재와 동일한 이모티콘입니다.");
                    } else {
                        $.ajax({
                            url: "{% url 'changeemo' %}",
                            type: "GET",
                            data: { "emo": emo },
                            success: function (result) {
                                alert(result);
                                location.reload();
                            },
                            error: function (request, status, error) {
                                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                            }
                        })
                    }
                },
                "close": function () {
                    $(this).dialog('close');
                }
            }
        })
    }
</script>
{% endblock %}