<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Sign in Page</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
    <div>
        <h1>Sign in</h1>
        <form method="POST" action="{% url 'sign_in' %}">
            {% csrf_token %}
            ID :
            <input name="userid" type="text">
            <input type="button" value="ID Check">
            <br>
            PW : 
            <input name="userpw" type="password">
            <br>
            PW Again : 
            <input name="userpw_again" type="password">
            <br>
            Name : 
            <input name="username" type="text">
            <br>
            Phone : 
            <input name="userphone" type="text">
            <br>
            <input type="submit" value="Sign in">
        </form>
    </div>
</body>